.detalhe{
    font-size: 1.2rem;
    margin-top: 10px;
}
.item-price{
    color: rgba(255,255,255,0.7);
}
.promo{
    color: rgba(255,255,255,0.4);
}
.hero-section{
    transition: 0.5s;
}
.hero-section:hover{
    transform: scale(1.05);
}

/* CALÇADOS */

.hero-h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    margin-left: 0.5rem;
    font-weight: bolder;
    padding-bottom: 2rem;
    color:#9d6c13;
}

.hero-ul{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    align-items: center;
    text-align: center;
    overflow: scroll;
    padding-inline: 1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.hero-ul-2{
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    align-items: center;
    text-align: center;
    overflow: scroll;
    padding-inline: 1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.item{
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;

}
.item-description{
    background-color: #a04a22;
    min-width: 15rem;
    height: 5rem;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 2.5rem;
}
.item-description p{
    margin-top: 1rem;
}
.hero-li{
    padding-bottom: 1rem;
}
.hero-section{
    display: flex;
    flex-direction: column;
}
.button-description{
    background-color: white;
    padding: 0.3rem 1rem;
    border: none;
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
}
.button-description:hover{
    cursor: pointer;
}

/* BOLSAS */

.item-bolsa{
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
}

.hero-ul::-webkit-scrollbar{
    display: none;
}

/* produtos */

#product1{
    background-image: url(../imgs/produtos/1.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product2{
    background-image: url(../imgs/produtos/2.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product3{
    background-image: url(../imgs/produtos/3.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product4{
    background-image: url(../imgs/produtos/4.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product5{
    background-image: url(../imgs/produtos/5.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product6{
    background-image: url(../imgs/produtos/6.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product7{
    background-image: url(../imgs/produtos/7.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product8{
    background-image: url(../imgs/produtos/8.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product9{
    background-image: url(../imgs/produtos/9.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;

}
#product10{
    background-image: url(../imgs/produtos/10.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product11{
    background-image: url(../imgs/produtos/11.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product12{
    background-image: url(../imgs/produtos/12.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product13{
    background-image: url(../imgs/produtos/13.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product14{
    background-image: url(../imgs/produtos/14.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product15{
    background-image: url(../imgs/produtos/15.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product17{
    background-image: url(../imgs/produtos/17.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
}
#product18{
    background-image: url(../imgs/produtos/18.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center; 
}
#product19{
    background-image: url(../imgs/produtos/19.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center; 
}
#product16{
    background-image: url(../imgs/produtos/16.jpeg);
    background-size: cover;
    min-width: 15rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
    background-position: center; 
}